discordbot:
  token: 'discord bot token here'
  default-prefix: '?'
  owner-id: 'your user id'
  emojis:
    success: ':thumbsup:'
    warning: ':exclamation:'
    error: ':x:'

database:
  vendor: mysql
  driver: com.mysql.cj.jdbc.Driver
  host: sample.com
  database: sample database
  user: sample user
  password: sample password
  timezone: JST
  pool-size: 10
